extends layout

block content
    ul.nav.nav-tabs
        li.myTab
            a(href="#" data-toggle="tab") 首页
        li
            a(href="#" data-toggle="tab") Profile
        li
            a(href="#" data-toggle="tab") Messages
        li
            a(href="#" data-toggle="tab") Settings

